@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* body{
  font-family: "Poppins", sans-serif;
} */

.title{
  @apply text-3xl font-semibold capitalize text-center my-8;
}

.active{
  color: black; 
  font-weight: 500;
}

a:hover{
  color: rgb(249 115 22);
}

header, nav{
  z-index: 10001 !important;
}

.categorybtn button{
     color: black; 
     opacity: .50;
}

[x-cloak] { display: none; }